<!-- <div *ngIf="people">
  <h2>{{people.name | uppercase}} Details</h2>
  <div><span>id: </span>{{people.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="people.name" placeholder="name">
    </label>
  </div>
</div>
<button (click)="goBack()">Go back</button> -->

<div *ngIf="people">
  <h2>{{people.name | uppercase}} Details</h2>
  <div><span>id: </span>{{people.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="people.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>

  <!-- button để lưu sự thay đổi -->
  <button (click)='save()'>Save</button>
</div>
  
