<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Hello {{ title }}!
  </h1>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
    <li>
      <a class="nav-link" routerLink="login"  data-toggle="tooltip" title="Login">
        <i class="fa fa-user"></i>
      </a>
    </li>
  </ul>

  <!-- <app-users></app-users> -->
  <!-- <app-list-user></app-list-user>
  <app-add-user></app-add-user> -->
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
  
</div>


